<h1>API Usage</h1>

<h4>This Website makes use of the <a class="link-primary" href="https://raider.io/api" target="_blank">Raider.IO</a> and <a class ="link-primary" href="https://develop.battle.net/" target="_blank">Battle.Net</a> API's.</h4>
<p>Our own API is still in the making, but will be coming out soon!</p>