@using WebApp.Models
@model OverviewModel

<h1 class="text-center">Hello!</h1>
<br />

<div>
    <h4 class="text-center">The WoW Token currently costs @Model.WoWTokenData.price gold.</h4>
    <div class="affix-container">
        @{
            if (Model != null)
            {
                foreach (var affix in Model.AffixData.affix_details)
                {
                    <div class="affix-list">
                        <a data-bs-toggle="tooltip" data-bs-title="@affix.name" href="@affix.wowhead_url" target="_blank">
                            <img src="https://wow.zamimg.com/images/wow/icons/large/@(affix.icon).jpg" class="affix-icon" alt="@affix.name" />
                        </a>
                    </div>
                }
            }
        }
    </div>
</div>
